body
{
    overflow-x: hidden;
}
.showSideNavButton
{
    color: white;
    font-size: 25px;
}
.sideNavMenu
{
    width: 0;
    height: 100%;
    background-color: rgb(255, 205, 4);
    transition: linear 0.5s;
    overflow-x: hidden;
    position: fixed;
    box-shadow: 4px 4px 4px 3px black;
}
.sideNavHeading
{
    color: white;   
    filter: drop-shadow(10px 10px 10px black)
}
.sideNavLink
{
    color: white;
    position: absolute;
    filter: drop-shadow(10px 10px 10px black);
    font-size: 25px;
    transition: linear 0.6s;
}
.sideNavLink:hover
{
    color: gray;
    position: absolute;
    filter: drop-shadow(10px 10px 10px black);
    font-size: 25px;
    transition: linear 0.6s;

}
.hideSideNavButton
{
    color: white;
    font-size: 25px;
    margin-left: 190px;
}
.product
{
    background-color: white;
    width: 80%;
    margin-left: 10%;
    border-radius: 10px;
    margin-bottom: 15px;
    box-shadow: 0px 15px 25px rgb(126, 25, 177);
    display: grid;
}

.product .productName
{
    font-size: 36px;
}
.product .productImage
{
    margin-left: 37%;
    filter: drop-shadow(0px 5px 15px black);
    margin-top: 20px;
    transition: linear 0.6s;   

}
.product .productImage:hover
{
    margin-left: 37%;
    filter: drop-shadow(0px 5px 25px black);
    margin-top: 20px;
    transition: linear 0.6s;   
}
.removeProductButton
{
    width: 80%;
 
    
}

